:root {
    --maincolor: #ca1016;
    --hovermain: #b80d13;
    --green: #7ed321;
    --hovergreen: #85c01f;
    --blue: #4264FD;
    --gray: #8D94AD;
    --graylight: #F5F5F7;
}

button {
    cursor: pointer;
}

a {
    color: black;
}

.container {
    padding: 0 10px;
}

#mainNavMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    position: sticky;
    top: 0;
    background-color: white;
}

#mainNavMobile button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maincolor);
    color: white;
    border: 0;
    border-radius: 50%;
    font-size: 1.3em;
}

#menuMobile {
    display: flex;
    flex-wrap: wrap;
}

#menuMobile li {
    border-right: 1px solid var(--gray);
}

#menuMobile li:last-of-type {
    border: none;
}

#menuMobile li:first-of-type a {
    color: var(--maincolor);
}

#menuMobile a {
    padding: 0 5px;
    color: var(--gray);
    font-weight: 600;
}

#bottomLinks {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px 10px 5px;
    border-top: 1px solid var(--gray);
    z-index: 1;
}

.bottomActive {
    color: var(--maincolor) !important
}

#bottomLinks ul {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

#bottomLinks ul button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: .6em;
    color: var(--gray);
    border: 0;
    background-color: transparent;
}

#bottomLinks i {
    font-size: 2em;
}

#newElan span {
    background-color: var(--maincolor);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 3em;
    border-radius: 50%;
    height: 40px;
}

#filterContainer {
    background-color: var(--graylight);
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.fa-sliders {
    transform: rotate(270deg);
}

#filterContainer button {
    border: 0;
    padding: 0 20px;
    background-color: white;
}

#filterContainer button div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 20px 0;
}

#filterContainer button:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#filterContainer button:first-of-type div {
    border-bottom: 1px solid var(--gray);
}

#filterContainer button:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#filterContainer p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}

#filterContainer i {
    color: var(--maincolor);
}

#bigSearchMobile {
    z-index: 2 !important;
}

#bigSearchMobile,
#filtersMobile {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

#filtersMobile {
    overflow: auto;
}

.searchHeader {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid var(--graylight);
}

.searchHeader div:first-child,
.searchHeader div:last-child {
    width: 50%;
}

.searchHeader div:last-child {
    display: flex;
    justify-content: end;
}

.searchHeader div:first-child button {
    border: 0;
    background-color: transparent;
}

#searchPart,
#searchRes {
    padding: 10px;
}

#searchPart {
    display: flex;
    align-items: center;
    background-color: #F6F7FA;
    margin: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
}

hr {
    border: 1px solid var(--graylight);
}

#searchPart i {
    width: 30px;
    color: var(--gray);
}

#searchPart input {
    border: 0;
    background: transparent;
    width: 95%;
    padding: 4px;
}

#searchPart input::placeholder {
    color: var(--gray);
}

#searchPart input:focus {
    outline: 0;
}

.mobSelectOption {
    overflow: auto;
    height: 80vh;
}

.mobSelectOption>button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: start;
    padding: 15px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.mobSelectOption>button div {
    border: 1px solid var(--maincolor);
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
}

.mobSelectOption>button span {
    border-radius: 50%;
    display: block;
    background-color: var(--maincolor);
    width: 100%;
    height: 100%;
}

#resetButton {
    border: 0;
    background-color: transparent;
    color: var(--maincolor);
    font-size: 1em;
}

.homeButtonPopup {
    border-bottom: 1px solid var(--graylight) !important;
}

.homeButtonPopup>div {
    padding: 15px 0 !important;
    height: 70px;
}

.homeButtonPopup>div>div {
    justify-content: space-between !important;
    border: 0 !important;
    flex-direction: column;
    align-items: start !important;
    padding: 0 !important;
    gap: 5px;
}

.toOpenPopUp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 0;
    background-color: white;
    border-bottom: 1px solid var(--graylight);
}

.toOpenPopUp>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.toOpenPopUp h4,
.homeButtonPopup h4 {
    color: var(--gray);
    font-weight: 400;
}

.removeItemMob {
    font-size: 1.5em;
}

#markaModelMob {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
}

#markaModelMob>button {
    border: 0;
    background-color: transparent;
    padding: 20px;
    color: var(--gray);
}

#showAllMarka {
    display: block;
    width: 100%;
    height: 55px;
    color: var(--maincolor);
    background-color: transparent;
    border-radius: 10px;
    font-size: 1.1em;
    border: 1px solid var(--maincolor);
}

#markalarMob,
#driveTypeBtns {
    background-color: var(--graylight);
    padding: 10px 0;
}

#nonFilterModeMob {
    background-color: white;
    padding: 10px;
}

#filterMode {
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
}

#driveTypeBtns {
    display: flex;
    justify-content: stretch;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}

#driveTypeBtns>button {
    display: block;
    width: 100%;
    border: 0;
    padding: 10px;
    background-color: white;
}

#driveTypeBtns>button:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#driveTypeBtns>button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.selectedTypeBigMob {
    background-color: var(--maincolor) !important;
    color: white;
}

#odometerInps h4,
.minMaxInps h4,
#priceInpMob h4,
#mainElanlar,
.fieldContainer h4 {
    color: var(--gray);
    font-weight: 400;
}

#mainElanlar {
    margin: 10px;
    font-size: 1.2em;
    padding: 10px 0;
}

.minMaxInps {
    padding: 0 10px;
    margin-bottom: 15px;
}

.minMaxInps>div {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.minMaxInps>div>* {
    width: 50%;
    background-color: white;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--graylight);
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#currencyMob {
    width: 30%;
    justify-content: center;
    gap: 20px;
}

#kreditOrBraterMob {
    display: flex;
}

#priceInpMob {
    margin-top: 10px;
    padding-bottom: 30px;
}

#kreditOrBraterMob>* {
    width: initial;
    border: 1px solid var(--gray);
    padding: 10px;
    border-radius: 15px;
}

#startSearchBtn {
    position: fixed;
    bottom: 10px;
    width: 90%;
    left: 50%;
    border: 0;
    background-color: var(--maincolor);
    padding: 10px;
    border-radius: 10px;
    color: white;
    transform: translateX(-50%);
}

.selectedTypeLittle {
    background-color: rgba(255, 0, 0, .5) !important;
    border-color: var(--maincolor) !important;
    color: white !important;
}

.selectedDes {
    color: var(--maincolor);
}

#backdrop {
    background-color: rgba(0, 0, 0, .5);
    height: 20%;
}

#littleSelectOption {
    position: fixed;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

#mainSelect {
    background-color: white;
    height: 80%;
}

#mainSelect>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

#mainSelect>div:first-child button {
    border: 0;
    background-color: white;
    font-size: 1.5em;
}

#littleSelectOption {
    display: none;
}

#carsGrid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 10px;
    margin: auto;
    padding: 0 10px 90px;
}

#carsGrid>div {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 15px #eee;
}

.bgImg {
    padding: 10px;
    background: url("https://turbo.azstatic.com/uploads/f710x568/2023%2F01%2F11%2F11%2F19%2F41%2F5f34c8eb-5138-4d0c-b78e-8c817d98aa5f%2F52522_Mu2ZZs1LqQkRDJpgK-R_xw.jpg") center/cover;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

#carsGrid>div>div:last-child {
    padding: 10px;
}

.bgImg span {
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: .8em;
}

.percent,
.barter {
    color: white;
    padding: 4px;
    font-size: .7em;
    border-radius: 50%;
}

.percent {
    background-color: #F5A623;
}

.barter {
    background-color: var(--green);
}

.bgImg button {
    border: 0;
    background-color: transparent;
}

.bgImg>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gemCrown {
    display: flex;
    gap: 5px;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

#carName {
    margin: 10px 0;
}

.crown {
    color: rgb(221, 221, 0);
}

.gem {
    color: orange;
}

#more {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#more h2 {
    padding: 20px 0;
    text-align: center;
}

#more>div:first-of-type {
    background-color: var(--graylight);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}

#more>div:first-of-type a {
    background-color: white;
    padding: 20px;
}

.scaled {
    font-size: 1.5em;
}

#btnsAfterFilter {
    display: flex;
    margin: 15px 0;
    gap: 10px;
}

#btnsAfterFilter button {
    display: flex;
    justify-content: start !important;
    gap: 10px;
    padding: 15px !important;
    border-radius: 35px !important;
}


.container {
    max-width: 970px;
    margin: auto;
}

header .container,
header .container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdownHeader {
    position: relative;
}

.dropdownContent {
    max-height: 0;
    transition: .3s max-height, .3s padding;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 15px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    z-index: 3;
    box-shadow: 0 0 10px #eee;
}

.dropdownContent a {
    padding: 0 !important;
}

.dropdownHeader:hover .dropdownContent {
    max-height: 700px;
    padding: 15px;
}

.dropdownContent>li a {
    color: black !important;
}

#globalLinks,
#miniLinks,
#mainLinks {
    display: flex;
}

#globalLinks {
    gap: 25px;
}

#miniLinks {
    gap: 20px;
}

#mainLinks {
    gap: 15px;
}

header .container>div>a {
    margin-right: 18px;
}

#topLinksD,
#bottomLinksD {
    padding: 12px 0;
}

#topLinksD {
    background-color: var(--graylight);
}

#bottomLinksD {
    background-color: var(--maincolor);
    padding: 10px 0;
}

#bottomLinksD a {
    color: white;
    padding: 15px 0;
    display: block;
}

header .container>div>a {
    font-size: 1.0em;
    font-weight: bold;
}

#topLinksD a {
    color: var(--gray);
}

#bottomLinksD button {
    border: 0;
    background-color: var(--green);
    color: white;
    border-radius: 10px;
    padding: 10px 6px;
    font-size: 1em;
}

#filterController {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#filterController>div {
    display: flex;
    gap: 10px;
}

#moreFilter {
    color: var(--maincolor);
    border: 0;
    background-color: transparent;
    font-size: 1em;
}

#filterCars {
    background-color: var(--maincolor);
    border: 0;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
}

main>div:first-child {
    background-color: #EBEDF3;
}

#mainFilters {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.desktopFilterContainer {
    padding: 30px 0;
}

/* .normalSelect {} */

.selectWithSearch,
.normalSelect {
    position: relative;
}

.deskSearchDiv button {
    width: 100%;
    border: 0;
    background-color: white;
    text-align: left;
    padding: 10px 20px;
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}

.deskSearchDiv input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    accent-color: var(--maincolor);
    pointer-events: none;
}

.deskSearchDiv button:hover {
    background-color: #eee;
}

.deskSearchDiv {
    display: none;
    flex-direction: column;
    border-radius: 5px;
    max-height: 330px;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 110%;
    z-index: 1;
    background-color: white;
}

.writeNumFilters {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.writeNumFilters>div {
    position: relative;
}

.writeNumFilters label {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 14px 10px;
    font-size: 1em;
    color: var(--gray);
    transition: .3s padding, .3s font-size;
}

.labelUp {
    padding: 7px 10px !important;
    font-size: .8em !important;
}

.writeNumField {
    height: 46px;
    display: flex;
    align-items: end;
}

.writeNumField input {
    border: 0;
    outline: 0;
    padding: 26px 0 5px 10px;
    width: 85%;
}

.writeNumField button {
    width: 15% !important;
    padding-bottom: 5px;
    position: relative;
    display: none;
}

.fieldContainer {
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: white;
    height: 46px;
    border-radius: 5px;
    overflow: hidden;
}

.fieldContainer button,
.normalSelect>div button,
.writeNumField button {
    width: 20%;
    border: 0;
    color: var(--gray);
    background-color: white;
}


.fieldContainer>div {
    width: 80%;
}

.fieldContainer>div>div {
    padding: 10px;
}

.fieldContainer > div > div p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    font-size: .9em;
}


.fieldContainer input {
    width: 100%;
    height: 100%;
    /* cursor: pointer; */
    border: 0;
    outline: 0;
    padding-left: 10px;
    border-radius: 10px;
}

.fieldContainer input::placeholder {
    color: var(--gray);
}

.normalSelect>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 46px;
    border-radius: 5px;
    padding: 10px;
}

.normalSelect p {
    color: var(--gray);
}

.doubleFilters {
    display: flex;
    background-color: white;
    border-radius: 5px;
}

.doubleFilters>div {
    width: 50%;
}

header,
.desktopFilterContainer {
    display: none;
}

.threeBtns {
    display: flex;
    height: 46px;
    border-radius: 5px;
    overflow: hidden;
}

.threeBtns button {
    background-color: white;
    width: 100%;
    border: 0;
    border-right: 2px solid #eee;
    height: 100%;
    padding: 0;
    color: var(--gray);
}

.threeBtns button:last-child {
    border: 0;
}

.tripleFilters {
    display: flex;
    justify-content: space-between;
}

.tripleFilters>button {
    width: 25%;
    border: 0;
    background-color: white;
    border-radius: 5px;
    color: var(--gray);
}

.deskSearchDiv.visible {
    display: flex;
}

@media only screen and (min-width:769px) {
    #carsGrid {
        padding-top: 40px;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }

    .mobileFilterContainer,
    #more,
    #mainNavMobile,
    #bottomLinks,
    #mainElanlar {
        display: none;
    }

    header,
    .desktopFilterContainer {
        display: block;
    }
}

@media only screen and (min-width:992px) {
    #carsGrid {
        grid-template-columns: auto auto auto auto;
        gap: 20px;
    }
}

.disabledDiv {
    opacity: .5;
    pointer-events: none;
}

.selectedTransparent{
    background-color: rgb(202, 16, 22, .1) !important;
    color: var(--maincolor) !important;
}

.visible{
    display: initial !important;
}

.noVisible{
    visibility: hidden !important;
}

.noPadding{
    padding: 0;
}

.selectedDriveType{
    background-color: var(--maincolor) !important;
    color: white !important;
}